

#pictureOfMe {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
.center {
  text-align: center;
}

img {
  width: 100%;
  border: 1px black solid;
}

/* Extra Small Devices */
@media only screen and (max-width : 768px) {
  #topNav {
    display: none;
  }
  #everythingButNav {
    margin-left: 65px;
  }
}

/* Custom */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices */
@media only screen and (min-width : 480px) {

}

/* Small Devices */
@media only screen and (min-width : 768px) {
  .vertical-align {
    display: flex;
    align-items: center;
  }
  #accordion {
    display: none;
  }
  #about {
    margin-top:60px;
  }
}

/* Medium Devices */
@media only screen and (min-width : 992px) {
  .vertical-align {
    font-size: 17px;
  }
}

/* Large Devices */
@media only screen and (min-width : 1200px) {
  .vertical-align {
    font-size: 22px;
  }
}

/* Animation */
.flip-container {
  -webkit-perspective:1000;
   -moz-perspective:1000;
    -ms-perspective:1000;
     -o-perspective:1000;
        perspective:1000;
}

.flipped {
  -webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}

.flipper {
  -webkit-transition:0.6s;
   -moz-transition:0.6s;
     -o-transition:0.6s;
        transition:0.6s;
  -webkit-transform-style:preserve-3d;
   -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
     -o-transform-style:preserve-3d;
        transform-style:preserve-3d;
  position:relative;
}

.front, .back {
  -webkit-backface-visibility:hidden;
   -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
     -o-backface-visibility:hidden;
        backface-visibility:hidden;
}

.front {
  z-index:2;
}

.back {
  -webkit-transform:rotateY(180deg);
   -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
     -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
}
